# Eat Safe, Love

## Notebook Set Up

In [33]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

In [6]:
# can delete
pprint(db.establishments.find_one())

{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63cb583235023a8c28e754a6'),
 'geocode': {'latitude': Decimal128('51.083812'),
             'longitude': Decimal128('1.19562500000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [61]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}
fields = {'BusinessName':1, 'scores': 1}

         
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
result_count = establishments.count_documents({'scores.Hygiene': 20})
print('Number of documents with hygiene score of 20:', (result_count))

# Display the first document in the results using pprint
pprint(results[1])

Number of documents with hygiene score of 20: 41
{'BusinessName': 'Brenalwood',
 '_id': ObjectId('63cb583335023a8c28e77358'),
 'scores': {'ConfidenceInManagement': 30, 'Hygiene': 20, 'Structural': 15}}

In [62]:
# Convert the result to a Pandas DataFrame
hygiene_results = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print('Row count is:', len(hygiene_results.axes[0]))
      
# Display the first 10 rows of the DataFrame
hygiene_results.head(10)

Row count is: 41

,_id,BusinessName,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement
0,63cb583335023a8c28e76fdb,The Chase Rest Home,20,20,20
1,63cb583335023a8c28e77358,Brenalwood,20,15,30
2,63cb583335023a8c28e77665,Melrose Hotel,20,20,20
3,63cb583335023a8c28e77853,Seaford Pizza,20,10,20
4,63cb583335023a8c28e7785e,Golden Palace,20,10,20
5,63cb583335023a8c28e78213,Ashby's Butchers,20,20,20
6,63cb583335023a8c28e78422,South Sea Express Cuisine,20,20,20
7,63cb583335023a8c28e79947,Golden Palace,20,15,30
8,63cb583335023a8c28e79d8b,The Tulip Tree,20,5,20
9,63cb583335023a8c28e7a5a3,F & S,20,20,20

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [71]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={'LocalAuthorityName': "London",
        'RatingValue': {'$gte': 5}}

fields = {'BusinessName':1, 'LocalAuthorityName': 1, 'RatingValue': 1}

# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
#result_count = establishments.count_documents({'LocalAuthorityName': "London", 'RatingValue': {'$gte': 5}})
#print('Number of documents with hygiene score of 20:', (result_count))

# Display the first document in the results using pprint
pprint(results)

<pymongo.cursor.Cursor object at 0x000001ED59794348>

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [72]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = {"geocode.latitude":{"$gte": latitude-degree_search, '$lte': latitude+degree_search},
        "geocode.longitude":{"$gte": longitude-degree_search, '$lte': longitude+degree_search},
        'RatingValue': '5'}
sort =  [('score.Hygiene', 1)]
limit = 5
# Print the results
pprint(list(establishments.find(query).sort(sort).limit(limit)))

NameError: name 'latitude' is not defined

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame