# Eat Safe, Love

## Notebook Set Up

In [30]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [31]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [32]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [33]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [34]:
# assign the collection to a variable
establishments = db['establishments']

In [35]:
# can delete
pprint(db.establishments.find_one())

{'AddressLine1': 'East Cliff Pavilion',
 'AddressLine2': 'Wear Bay Road',
 'AddressLine3': 'Folkestone',
 'AddressLine4': 'Kent',
 'BusinessName': 'The Pavilion',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4591.765489457773,
 'FHRSID': 1043695,
 'LocalAuthorityBusinessID': 'PI/000073616',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6BL',
 'RatingDate': '2018-04-04T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('63cb583235023a8c28e754a6'),
 'geocode': {'latitude': Decimal128('51.083812'),
             'longitude': Decimal128('1.19562500000000')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/1043695',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [36]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}
fields = {'BusinessName':1, 'scores': 1}

         
# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
result_count = establishments.count_documents({'scores.Hygiene': 20})
print('Number of documents with hygiene score of 20:', (result_count))

# Display the first document in the results using pprint
pprint(results[1])

Number of documents with hygiene score of 20: 41
{'BusinessName': 'Brenalwood',
 '_id': ObjectId('63cb583335023a8c28e77358'),
 'scores': {'ConfidenceInManagement': 30, 'Hygiene': 20, 'Structural': 15}}

In [37]:
# Convert the result to a Pandas DataFrame
hygiene_results = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print('Row count is:', len(hygiene_results.axes[0]))
      
# Display the first 10 rows of the DataFrame
hygiene_results.head(10)

Row count is: 41

,_id,BusinessName,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement
0,63cb583335023a8c28e76fdb,The Chase Rest Home,20,20,20
1,63cb583335023a8c28e77358,Brenalwood,20,15,30
2,63cb583335023a8c28e77665,Melrose Hotel,20,20,20
3,63cb583335023a8c28e77853,Seaford Pizza,20,10,20
4,63cb583335023a8c28e7785e,Golden Palace,20,10,20
5,63cb583335023a8c28e78213,Ashby's Butchers,20,20,20
6,63cb583335023a8c28e78422,South Sea Express Cuisine,20,20,20
7,63cb583335023a8c28e79947,Golden Palace,20,15,30
8,63cb583335023a8c28e79d8b,The Tulip Tree,20,5,20
9,63cb583335023a8c28e7a5a3,F & S,20,20,20

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [46]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query ={'LocalAuthorityName': {'$regex': "London"},
        'RatingValue': {'$gte': '4'}}

fields = {'BusinessName':1, 'LocalAuthorityName': 1, 'RatingValue': 1}

# Use count_documents to display the number of documents in the result
results = establishments.find(query,fields)
result_count = establishments.count_documents(query)
print('Number of documents:',(result_count))

# Display the first document in the results using pprint
pprint(results[0])

Number of documents: 34
{'BusinessName': "Charlie's",
 'LocalAuthorityName': 'City of London Corporation',
 'RatingValue': '4',
 '_id': ObjectId('63cb583335023a8c28e789f4')}

In [47]:
# Convert the result to a Pandas DataFrame
london_rating = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print('Row count is:', len(london_rating.axes[0]))

# Display the first 10 rows of the DataFrame
london_rating.head(10)

Row count is: 34

,_id,BusinessName,RatingValue,LocalAuthorityName
0,63cb583335023a8c28e789f4,Charlie's,4,City of London Corporation
1,63cb583335023a8c28e78d1b,Mv City Cruises Erasmus,5,City of London Corporation
2,63cb583335023a8c28e79867,Benfleet Motor Yacht Club,4,City of London Corporation
3,63cb583335023a8c28e7a664,Tilbury Seafarers Centre,5,City of London Corporation
4,63cb583335023a8c28e7a66c,Coombs Catering t/a The Lock and Key,5,City of London Corporation
5,63cb583335023a8c28e7ad6e,Mv Valulla,5,City of London Corporation
6,63cb583435023a8c28e7ce7c,Tereza Joanne,5,City of London Corporation
7,63cb583435023a8c28e7ce82,Froottree,AwaitingInspection,City of London Corporation
8,63cb583435023a8c28e7d248,Brick Lane Brews,4,City of London Corporation
9,63cb583435023a8c28e7d25a,The Nuance Group (UK) Limited,5,City of London Corporation

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [63]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
longitude = 0.08384
latitude = 51.490142 

query = {"geocode.latitude":{"$gte": latitude-degree_search, '$lte': latitude+degree_search},
        "geocode.longitude":{"$gte": longitude-degree_search, '$lte': longitude+degree_search},
        'RatingValue': '5'}

fields = {'BusinessName': 1, 'RatingValue': 1, 'scores': 1}
sort =  [('scores.Hygiene', 1)]
limit = 5

results = list(establishments.find(query, fields).sort(sort).limit(limit))

# Print the results
pprint(results)

[{'BusinessName': 'Volunteer',
  'RatingValue': '5',
  '_id': ObjectId('63cb583435023a8c28e7c838'),
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}},
 {'BusinessName': 'Plumstead Manor Nursery',
  'RatingValue': '5',
  '_id': ObjectId('63cb583435023a8c28e7c84e'),
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'BusinessName': 'Atlantic Fish Bar',
  'RatingValue': '5',
  '_id': ObjectId('63cb583435023a8c28e7c851'),
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}},
 {'BusinessName': 'Iceland',
  'RatingValue': '5',
  '_id': ObjectId('63cb583435023a8c28e7c80a'),
  'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}},
 {'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'RatingValue': '5',
  '_id': ObjectId('63cb583435023a8c28e7c819'),
  'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}]

In [64]:
# Convert result to Pandas DataFrame
establishment_results = pd.json_normalize(results)
establishment_results.head()

,_id,BusinessName,RatingValue,scores.Hygiene,scores.Structural,scores.ConfidenceInManagement
0,63cb583435023a8c28e7c838,Volunteer,5,0,0,0
1,63cb583435023a8c28e7c84e,Plumstead Manor Nursery,5,0,0,5
2,63cb583435023a8c28e7c851,Atlantic Fish Bar,5,0,0,5
3,63cb583435023a8c28e7c80a,Iceland,5,0,5,5
4,63cb583435023a8c28e7c819,Howe and Co Fish and Chips - Van 17,5,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [67]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {'scores.Hygiene': 0, }}
group = {'$group': {'_id': "$LocalAuthorityName", 'count': {'$sum': 1}}}
sort = {'$sort': {'count': -1}}

pipeline = [match_query, group, sort]

# Print the number of documents in the result
results = list(establishments.aggregate(pipeline))
print('Number of documents:', len(results))

# Print the first 10 results
pprint(results[0:10])

Number of documents: 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [68]:
# Convert the result to a Pandas DataFrame
zero_hygiene = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print('Row count is:', len(zero_hygiene.axes[0]))

# Display the first 10 rows of the DataFrame
zero_hygiene.head(10)

Row count is: 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542